In [ ]:
import pandas as pd
df1 = pd.read_csv("studierende.csv", sep=";")
df2 = pd.read_csv("pruefung.csv", sep=";")

In [ ]:
df1.head()

                       variable  jahr semester  bachelor  master  gesamt
0            studierende_gesamt  2016     WiSe    1660.0   770.0  2484.0
1  studierende_regelstudienzeit  2016     WiSe    1352.0   521.0  1924.0
2                  erstsemester  2016     WiSe     475.0   173.0   662.0
3          studierende_weiblich  2016     WiSe     686.0   336.0  1040.0
4         studierende_maennlich  2016     WiSe     974.0   434.0  1444.0

In [ ]:
df2.head()

,variable,jahr,bachelor_gesamt,master_gesamt,bachelor_weiblich,bachelor_maennlich,master_weiblich,master_maennlich
0,pruefungsabschluesse,2016,231.0,182.0,104.0,127.0,84.0,98.0
1,pruefungsabschluesse,2017,235.0,201.0,104.0,131.0,95.0,106.0
2,pruefungsabschluesse,2018,330.0,211.0,142.0,188.0,83.0,128.0
3,pruefungsabschluesse,2019,273.0,212.0,121.0,152.0,94.0,118.0
4,pruefungsabschluesse,2020,197.0,179.0,92.0,105.0,82.0,97.0

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variable  140 non-null    object
 1   jahr      140 non-null    int64
 2   semester  140 non-null    object
 3   bachelor  138 non-null    float64
 4   master    138 non-null    float64
 5   gesamt    138 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 6.7+ KB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   variable            10 non-null     object
 1   jahr                10 non-null     int64
 2   bachelor_gesamt     7 non-null      float64
 3   master_gesamt       7 non-null      float64
 4   bachelor_weiblich   7 non-null      float64
 5   bachelor_maennlich  7 non-null      float64
 6   master_weiblich     7 non-null      float64
 7   master_maennlich    7 non-null      float64
dtypes: float64(6), int64(1), object(1)
memory usage: 772.0+ bytes

In [ ]:
df1.isna().sum()

variable    0
jahr        0
semester    0
bachelor    2
master      2
gesamt      2
dtype: int64

In [ ]:
df2.isna().sum()

variable              0
jahr                  0
bachelor_gesamt       3
master_gesamt         3
bachelor_weiblich     3
bachelor_maennlich    3
master_weiblich       3
master_maennlich      3
dtype: int64

In [ ]:
# Fehlende Werte in Prozent (tabelle studierende)
df1.isna().mean() * 100

variable    0.000000
jahr        0.000000
semester    0.000000
bachelor    1.428571
master      1.428571
gesamt      1.428571
dtype: float64

In [ ]:
# Fehlende Werte in Prozent (tabelle pruefung)
df2.isna().mean() * 100

variable               0.0
jahr                   0.0
bachelor_gesamt       30.0
master_gesamt         30.0
bachelor_weiblich     30.0
bachelor_maennlich    30.0
master_weiblich       30.0
master_maennlich      30.0
dtype: float64

In [ ]:
#Betroffene Zeilen (tabelle studierende)
df1[df1.isna().any(axis=1)]

              variable  jahr semester  bachelor  master  gesamt
132  exmatrikulationen  2025     WiSe       NaN     NaN     NaN
139  exmatrikulationen  2025     SoSe       NaN     NaN     NaN

In [ ]:
#Betroffene Zeilen (tabelle pruefung)
df2[df2.isna().any(axis=1)]

,variable,jahr,bachelor_gesamt,master_gesamt,bachelor_weiblich,bachelor_maennlich,master_weiblich,master_maennlich
7,pruefungsabschluesse,2023,NaN,NaN,NaN,NaN,NaN,NaN
8,pruefungsabschluesse,2024,NaN,NaN,NaN,NaN,NaN,NaN
9,pruefungsabschluesse,2025,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2_absolventen = df2[df2["variable"] == "pruefungsabschluesse"].dropna()
df2_absolventen

,variable,jahr,bachelor_gesamt,master_gesamt,bachelor_weiblich,bachelor_maennlich,master_weiblich,master_maennlich
0,pruefungsabschluesse,2016,231.0,182.0,104.0,127.0,84.0,98.0
1,pruefungsabschluesse,2017,235.0,201.0,104.0,131.0,95.0,106.0
2,pruefungsabschluesse,2018,330.0,211.0,142.0,188.0,83.0,128.0
3,pruefungsabschluesse,2019,273.0,212.0,121.0,152.0,94.0,118.0
4,pruefungsabschluesse,2020,197.0,179.0,92.0,105.0,82.0,97.0
5,pruefungsabschluesse,2021,280.0,220.0,116.0,164.0,102.0,118.0
6,pruefungsabschluesse,2022,220.0,199.0,83.0,137.0,86.0,113.0

In [ ]:
#Datentyp (studierende)
df1.dtypes

variable     object
jahr          int64
semester     object
bachelor    float64
master      float64
gesamt      float64
dtype: object

In [ ]:
#Datentyp (pruefungen)
df2.dtypes

variable               object
jahr                    int64
bachelor_gesamt       float64
master_gesamt         float64
bachelor_weiblich     float64
bachelor_maennlich    float64
master_weiblich       float64
master_maennlich      float64
dtype: object

In [ ]:
df1["semester"].unique()
df1["variable"].unique()

array(['studierende_gesamt', 'studierende_regelstudienzeit',
       'erstsemester', 'studierende_weiblich', 'studierende_maennlich',
       'studierende_auslaendisch', 'exmatrikulationen'], dtype=object)

In [ ]:
#Kategorien als category speichen (studierende)
df1["semester"] = df1["semester"].astype("category")
df1["variable"] = df1["variable"].astype("category")

In [ ]:
#Kategorien als category speichen (pruefungen)
df2["variable"] = df2["variable"].astype("category")

In [ ]:
# neue variable sonstige
df1["sonstige"] = df1["gesamt"] - df1["bachelor"] - df1["master"]

In [ ]:
#neue variable anteil_bachelor
df1["anteil_bachelor"] = df1["bachelor"] / df1["gesamt"]
df1['anteil_bachelor']

0      0.668277
1      0.702703
2      0.717523
3      0.659615
4      0.674515
         ...
135    0.543086
136    0.569736
137    0.574509
138    0.215504
139         NaN
Name: anteil_bachelor, Length: 140, dtype: float64

In [ ]:
#neue variable anteil_master
df1["anteil_master"] = df1["master"] / df1["gesamt"]

In [ ]:
#neue variable anteil_sonstige
df1["anteil_sonstige"] = df1["sonstige"] / df1["gesamt"]

In [ ]:
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   variable         140 non-null    category
 1   jahr             140 non-null    int64
 2   semester         140 non-null    category
 3   bachelor         138 non-null    float64
 4   master           138 non-null    float64
 5   gesamt           138 non-null    float64
 6   sonstige         138 non-null    float64
 7   anteil_bachelor  138 non-null    float64
 8   anteil_master    138 non-null    float64
 9   anteil_sonstige  138 non-null    float64
dtypes: category(2), float64(7), int64(1)
memory usage: 9.6 KB

In [ ]:
df1_exmats = df1[df1["variable"] == "exmatrikulationen"].dropna()
numeric_cols = ['bachelor', 'master', 'gesamt', 'sonstige',	'anteil_bachelor',	'anteil_master',	'anteil_sonstige']  # numeric columns only

df1_exmats_per_year = (
    df1_exmats
        .groupby("jahr", as_index=False)  # keep Jahr as column
        .agg(
            {**{col: 'mean' for col in numeric_cols},  # compute mean for numeric cols
            #  "Semester": "first",                    # pick first value (or other rule) for non-numeric
            #  "Variable": "first"
             }                    # same for Variable
        ).round(2)
)
df1_exmats_per_year

,jahr,bachelor,master,gesamt,sonstige,anteil_bachelor,anteil_master,anteil_sonstige
0,2016,177.5,107.5,307.0,22.0,0.58,0.35,0.07
1,2017,186.5,133.0,336.0,16.5,0.56,0.40,0.05
2,2018,200.0,135.0,358.0,23.0,0.56,0.38,0.06
3,2019,270.5,144.0,431.0,16.5,0.63,0.34,0.04
4,2020,242.0,140.5,400.0,17.5,0.60,0.35,0.04
5,2021,179.5,131.0,378.0,67.5,0.49,0.35,0.17
6,2022,182.5,145.5,404.5,76.5,0.45,0.36,0.19
7,2023,139.5,152.0,391.5,100.0,0.35,0.39,0.26
8,2024,171.5,159.0,413.5,83.0,0.42,0.39,0.19

In [ ]:
abschluesse = df2_absolventen	[["jahr", "bachelor_gesamt", "master_gesamt"]]
exmat = df1_exmats_per_year[["jahr", "bachelor", "master"]]

# 2. Nach Jahr zusammenfhren
df_kombiniert = abschluesse.merge(exmat, on="jahr", how="inner")

# 3. Optional: umbenennen fr Klarheit
df_kombiniert = df_kombiniert.rename(columns={
    "jahr": "Jahr",
    "bachelor_gesamt": "Bachelor_Abschlsse",
    "master_gesamt": "Master_Abschlsse",
    "bachelor": "Bachelor_Exmatrikulationen",
    "master": "Master_Exmatrikulationen"
})
df_kombiniert

,Jahr,Bachelor_Abschlsse,Master_Abschlsse,Bachelor_Exmatrikulationen,Master_Exmatrikulationen
0,2016,231.0,182.0,177.5,107.5
1,2017,235.0,201.0,186.5,133.0
2,2018,330.0,211.0,200.0,135.0
3,2019,273.0,212.0,270.5,144.0
4,2020,197.0,179.0,242.0,140.5
5,2021,280.0,220.0,179.5,131.0
6,2022,220.0,199.0,182.5,145.5

In [ ]:
# Gesamtzahl der Abgnge pro Jahr berechnen
df_kombiniert["Bachelor_Gesamt_Abgnge"] = (
    df_kombiniert["Bachelor_Abschlsse"] +
    df_kombiniert["Bachelor_Exmatrikulationen"]
)

df_kombiniert["Master_Gesamt_Abgnge"] = (
    df_kombiniert["Master_Abschlsse"] +
    df_kombiniert["Master_Exmatrikulationen"]
)

# Absolventenquote
df_kombiniert["Bachelor_Absolventenquote"] = (
    df_kombiniert["Bachelor_Abschlsse"] /
    df_kombiniert["Bachelor_Gesamt_Abgnge"]
)

df_kombiniert["Master_Absolventenquote"] = (
    df_kombiniert["Master_Abschlsse"] /
    df_kombiniert["Master_Gesamt_Abgnge"]
)

# Abbruchquote
df_kombiniert["Bachelor_Abbruchquote"] = (
    df_kombiniert["Bachelor_Exmatrikulationen"] /
    df_kombiniert["Bachelor_Gesamt_Abgnge"]
)

df_kombiniert["Master_Abbruchquote"] = (
    df_kombiniert["Master_Exmatrikulationen"] /
    df_kombiniert["Master_Gesamt_Abgnge"]
)

quote_cols = [
    "Bachelor_Absolventenquote",
    "Master_Absolventenquote",
    "Bachelor_Abbruchquote",
    "Master_Abbruchquote"
]

# df_kombiniert[quote_cols] = df_kombiniert[quote_cols] * 100
df_kombiniert[quote_cols] = (
    df_kombiniert[quote_cols] * 100
).round(2)
df_abschluss_daten = df_kombiniert[quote_cols]
df_abschluss_daten

,Bachelor_Absolventenquote,Master_Absolventenquote,Bachelor_Abbruchquote,Master_Abbruchquote
0,56.55,62.87,43.45,37.13
1,55.75,60.18,44.25,39.82
2,62.26,60.98,37.74,39.02
3,50.23,59.55,49.77,40.45
4,44.87,56.03,55.13,43.97
5,60.94,62.68,39.06,37.32
6,54.66,57.76,45.34,42.24

In [ ]:
# 10 jahre analyse fr gesamt studierende
df1_gesamt = df1[df1["variable"] == "studierende_gesamt"]
df1_gesamt

,variable,jahr,semester,bachelor,master,gesamt,sonstige,anteil_bachelor,anteil_master,anteil_sonstige
0,studierende_gesamt,2016,WiSe,1660.0,770.0,2484.0,54.0,0.668277,0.309984,0.021739
7,studierende_gesamt,2016,SoSe,1478.0,813.0,2352.0,61.0,0.628401,0.345663,0.025935
14,studierende_gesamt,2017,WiSe,1845.0,866.0,2772.0,61.0,0.665584,0.312410,0.022006
21,studierende_gesamt,2017,SoSe,1607.0,833.0,2513.0,73.0,0.639475,0.331476,0.029049
28,studierende_gesamt,2018,WiSe,1913.0,847.0,2837.0,77.0,0.674304,0.298555,0.027141
35,studierende_gesamt,2018,SoSe,1672.0,820.0,2559.0,67.0,0.653380,0.320438,0.026182
42,studierende_gesamt,2019,WiSe,1834.0,833.0,2733.0,66.0,0.671057,0.304793,0.024149
49,studierende_gesamt,2019,SoSe,1532.0,790.0,2384.0,62.0,0.642617,0.331376,0.026007
56,studierende_gesamt,2020,WiSe,1614.0,794.0,2468.0,60.0,0.653971,0.321718,0.024311
63,studierende_gesamt,2020,SoSe,1343.0,787.0,2179.0,49.0,0.616338,0.361175,0.022487
70,studierende_gesamt,2021,WiSe,1509.0,888.0,2571.0,174.0,0.586931,0.345391,0.067678
77,studierende_gesamt,2021,SoSe,1397.0,867.0,2363.0,99.0,0.591198,0.366906,0.041896
84,studierende_gesamt,2022,WiSe,1386.0,867.0,2386.0,133.0,0.580889,0.363370,0.055742
91,studierende_gesamt,2022,SoSe,1281.0,842.0,2271.0,148.0,0.564069,0.370762,0.065170
98,studierende_gesamt,2023,WiSe,1290.0,790.0,2208.0,128.0,0.584239,0.357790,0.057971
105,studierende_gesamt,2023,SoSe,1317.0,735.0,2208.0,156.0,0.596467,0.332880,0.070652
112,studierende_gesamt,2024,WiSe,1419.0,790.0,2287.0,78.0,0.620463,0.345431,0.034106
119,studierende_gesamt,2024,SoSe,1429.0,798.0,2315.0,88.0,0.617279,0.344708,0.038013
126,studierende_gesamt,2025,WiSe,1480.0,1113.0,2654.0,61.0,0.557649,0.419367,0.022984
133,studierende_gesamt,2025,SoSe,1531.0,1079.0,2674.0,64.0,0.572550,0.403515,0.023934

In [ ]:
# jahresdurchschnitt
# df1_jahr = (
#     df1_gesamt
#         .groupby("jahr")["gesamt"]
#         .mean()
#         .reset_index()
# )
# df1_jahr

numeric_cols = ['bachelor', 'master', 'gesamt', 'sonstige',	'anteil_bachelor',	'anteil_master',	'anteil_sonstige']  # numeric columns only

df1_jahr = (
    df1_gesamt
        .groupby("jahr", as_index=False)  # keep Jahr as column
        .agg(
            {**{col: 'mean' for col in numeric_cols},  # compute mean for numeric cols
            #  "Semester": "first",                    # pick first value (or other rule) for non-numeric
            #  "Variable": "first"
             }                    # same for Variable
        )
)

df1_jahr

,jahr,bachelor,master,gesamt,sonstige,anteil_bachelor,anteil_master,anteil_sonstige
0,2016,1569.0,791.5,2418.0,57.5,0.648339,0.327824,0.023837
1,2017,1726.0,849.5,2642.5,67.0,0.652530,0.321943,0.025527
2,2018,1792.5,833.5,2698.0,72.0,0.663842,0.309496,0.026662
3,2019,1683.0,811.5,2558.5,64.0,0.656837,0.318085,0.025078
4,2020,1478.5,790.5,2323.5,54.5,0.635154,0.341446,0.023399
5,2021,1453.0,877.5,2467.0,136.5,0.589064,0.356149,0.054787
6,2022,1333.5,854.5,2328.5,140.5,0.572479,0.367066,0.060456
7,2023,1303.5,762.5,2208.0,142.0,0.590353,0.345335,0.064312
8,2024,1424.0,794.0,2301.0,83.0,0.618871,0.345070,0.036059
9,2025,1505.5,1096.0,2664.0,62.5,0.565100,0.411441,0.023459

In [ ]:
#Prozentuale Vernderung zum Vorjahr (wachstum)
df1_jahr["wachstum_%"] = (
    df1_jahr["gesamt"].pct_change() * 100
)
df1_jahr["wachstum_%"]

0          NaN
1     9.284533
2     2.100284
3    -5.170497
4    -9.185069
5     6.176028
6    -5.614106
7    -5.175005
8     4.211957
9    15.775750
Name: wachstum_%, dtype: float64

In [ ]:
#absolute Vernderung
df1_jahr["veraenderung"] = df1_jahr["gesamt"].diff()
df1_jahr['veraenderung']

0      NaN
1    224.5
2     55.5
3   -139.5
4   -235.0
5    143.5
6   -138.5
7   -120.5
8     93.0
9    363.0
Name: veraenderung, dtype: float64

In [ ]:
#Mgliche Visualisierungen 1)gesamtzahl 2)Wachstum 3) absolute Vernderung

In [ ]:
# 2. Auslnder (nur wintersemester)
df1_ws = df1[df1["semester"].str.contains("WS")]

In [ ]:
# 2. Auslnder
#filltern variable gesamt und Auslnder
df1_relevant = df1[df1["variable"].isin([
    "studierende_gesamt",
    "studierende_auslaendisch"
])]

In [ ]:
# Tabelle pro jahr
# filter fr WiSe
df_winter_semester_relevant = df1[
    (df1["semester"] == "WiSe") &
    (df1["variable"].isin(["studierende_gesamt", "studierende_auslaendisch"]))
]

# pivot
df1_grouped = df_winter_semester_relevant.pivot(
    index="jahr",
    columns="variable",
    values="gesamt"
)

In [ ]:
#Berechnung Auslnderanteil
df1_grouped["auslaenderanteil_%"] = (
    df1_grouped["studierende_auslaendisch"] /
    df1_grouped["studierende_gesamt"] * 100
)

In [ ]:
#Vernderung zur Vorjahr %
df1_grouped["veraenderung_prozentpunkte"] = (
    df1_grouped["auslaenderanteil_%"].diff()
)
#Visualisirung

In [ ]:
# 3.Frauenanteil

df_calculated_frauenanteil = df1[df1["variable"].isin(["studierende_weiblich", "studierende_gesamt"])]

# Pivot the data to have 'studierende_weiblich' and 'studierende_gesamt' as columns
df_pivot_frauen = df_calculated_frauenanteil.pivot_table(
    index=['jahr', 'semester'],
    columns='variable',
    values='gesamt'
).reset_index()

# Calculate 'frauenanteil_%'
df_pivot_frauen['frauenanteil_%'] = (
    df_pivot_frauen['studierende_weiblich'] / df_pivot_frauen['studierende_gesamt'] * 100
)

# Select only the relevant columns from df_pivot_frauen for merging
df_frauen_for_merge = df_pivot_frauen[['jahr', 'semester', 'frauenanteil_%']]

# Merge with df1
df1 = pd.merge(df1, df_frauen_for_merge, on=['jahr', 'semester'], how='left')

/tmp/ipython-input-3294304155.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_pivot_frauen = df_calculated_frauenanteil.pivot_table(